* {
    border: none;
    border-radius: 0px;

    font-family: "FiraCode Nerd Font";
    font-size: 12px;
    font-weight: bold;
}

@import "themes/default.css";

window#waybar {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#custom-updates {
    color: @text-white;
    background: @mbg-gray;
    margin: 5px 8px 5px 8px;
    padding: 2px 4px 2px 4px;
    border: 1px solid;
    border-radius: 7px;
    border-color: @mrd-gray;
}

#tray {
    color: @text-black;
    background: @mbg-gray;
    margin: 5px 8px 5px 8px;
    padding: 2px 4px 2px 4px;
    border: 1px solid;
    border-radius: 7px;
    border-color: @brd-gray;
}

#workspaces button {
    color: @text-white;
    background: @mbg-gray;
    margin: 5px 0px 5px 0px;
    padding: 2px 5px 2px 1px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: @brd-gray;
}

#clock {
    color: @text-white;
    background: @mbg-green;
    margin: 5px 3px 5px 3px;
    padding: 2px 7px 2px 7px;
    border: 1px solid;
    border-radius: 7px;
    border-color: @brd-green;
}

#battery {
    background: @mbg-gray;
    margin: 5px 3px 5px 3px;
    padding: 2px 7px 2px 7px;
    border: 1px solid;
    border-radius: 7px;
    border-color: @brd-gray;
}

#battery.good {
    color: @text-white;
}

#battery.warning {
    color: #d4a850;
}

#battery.critical {
    color: #c73e3e;
}

#network {
    color: @text-white;
    background: @mbg-gray;
    margin: 5px 3px 5px 3px;
    padding: 2px 15px 2px 12px;
    border: 1px solid;
    border-radius: 7px;
    border-color: @brd-gray;
}

#custom-l_end {
    background: @mbg-gray;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 5px 0px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-radius: 7px 0px 0px 7px;
    border-color: @brd-gray;
}

#custom-r_end {
    background: @mbg-gray;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 5px 0px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0px 7px 7px 0px;
    border-color: @brd-gray;
}
