@define-color mbg-green     #1f2e1f;
@define-color mbg-gray      #3d423d;

@define-color brd-green     #4a524a;
@define-color brd-gray      #505050;

@define-color text-white    #f0f0f0;
@define-color text-black    #1a1a1a;
